#body-container {
    height: 100%;
    width: 100%;
}

.container-fluid > .row {
    min-height: 100%;
}

.row {

}

.fullMap .col-md-4 {
    min-width: 200px;
    min-height: 200px;
    border: 1px dashed black;
}

.scroll {
    overflow-y:scroll; 
    height: 606px;
    background-color: lightgrey;
}

div.container-fluid > .row > .col-md-4 {
    max-height: 100%;
}

.col-md-8 {
    background-image: url("../images/map-of-disneyland.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: contain;
}