body {
    font-family: "open sans", arial, sans-serif;
}

h3 {
    font-family: oswald;
}

#body-container {
    border-top: 1px solid white;
}


/********** Cover Photo *********/
.parallax {
    /* The image used */
    background-image: url("../images/cover-photo.jpg");

    /* Set a specific height */
    height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/********** /Cover Photo *********/



/********** navbar *********/
.navbar-custom {
    background-color: midnightblue;
    padding: 0px 5px;
    height: 60px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

li.dropdown a.dropdown-toggle {
    color: #d4ad4e;
}


.flex-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.search-and-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 80%;
    border-radius: 5px;
}

ul.nav {
    padding-right: 50px;
    padding-left: 50px;
}
/********** /navbar *********/


/*********** Map **********/

#map {
    height: 675px;
}
.col-md-8 {
    background-image: url("../images/map-of-disneyland.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: contain;
}
/*********** /Map **********/



/********* Each Map Grid *******/
.fullMap .col-md-4 {
    min-width: 200px;
    min-height: 225px;
    border: 1px dashed white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: oswald;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
}
/********** /Each Map Grid *******/



/********** Info Side Bar *******/
.scroll {
    overflow-y:scroll;
    height: 675px;
    background-color: midnightblue;
    color: white;
}

.scroll a {
    color: white;
}

div.container-fluid > .row > .col-md-4 {
    max-height: 100%;
}

.attractionInfo {
    display: none;
}

/********** /Info Side Bar *******/




/*********** Footer **********/
.navbar-bottom div.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-bottom div.container p {
    padding-top: 5px;
}
/*********** Footer **********/
